@page
@model TestApp2.Pages.NotFoundModel
@{
    ViewData["Title"] = "Сервис коротких ссылок";
}

<div class="text-center">
    <h1 class="display-4">Привет</h1>       
    <p>Похоже с ссылкой что-то не так.</p>
</div>
